<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Video - Call of Duty Modern Warfare
    </title>
</head>

<body>
    <h1><strong>Call of Duty Modern Warfare</strong></h1>
    <hr />
    <div>
        <h2>Episode 1 - F.N.G.</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9j5f5tvhTf8?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 2 - Crew Expendable</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9d_DIppfLgo?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 3 - The Coup</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yW0rGCYdlmE?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 4 - Blackout</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c3i2JX-04po?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 5 - Charlie Don't Surf</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6I_FFUtrEWM?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 6 - The Bog</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oNKTvAl4R08?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 7 - Hunted</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9HM1ksvPCV4?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 8 - Death From Above</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PLMNltaSVKs?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 9 - War Pig</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/w21lwwHVyNQ?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 10 - Shock and Awe</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Io8EwcmKjHQ?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 11 - Aftermath & Safehouse</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xGzi4QWiUlE?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 12 - All Ghillied Up</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/u0qn7jXWYPI?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 13 - One Shot, One Kill</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uud5uEEeTGs?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 14 - Heat</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/be67m22gIiM?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>