<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Video - Rise of the Tomb Raider
    </title>
</head>

<body>
    <h1><strong>Rise of the Tomb Raider</strong></h1>
    <hr />

    <div>
        <h2>Episode 1 - Mountain Peak</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G_ApcHNCtto?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 2 - The Prophet's Tomb</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CD41izNHKWk?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 3 Part 1 - The Siberian Wilderness</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qais3auaX-o?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 3 Part 2 - The Siberian Wilderness + Glacial Caverns</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/noedDRbFwZc?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 3 Part 3 - The Soviet Installation</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/48B_7EJUctw?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 3 Part 4 - The Soviet Installation</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zeiZx3XDcps?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 4 Part 1 - The Soviet Installation & Escaping the Prison</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RK-_GyhurVo?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <h2>Episode 4 Part 2 - Escaping the Prison</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M8l6F3vUl9g?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>

