<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        About - Grizzly Games
    </title>
</head>

<body class="col-md-12">
    <h1><strong>About Us</strong></h1>
    <hr />
    <h2><strong>What are you?</strong></h2>
    <p style="font-size: 20px;">
        Grizzly Games is a start-up indie games development studio based out of Toronto, Canada. As of today, Grizzly Games has released two mobile games available on Android devices, Marionette Melee and Migrating Martians. Grizzly Games broadcasts live streams on GGTV where hosts playthrough their favourite games while interacting with audience members. Grizzly also creates Youtube videos of game playthroughs and game development tutorials. Grizzly’s current game development is a Horror game for the PC which will be released on Steam.
    </p>
    <hr />
    <h2><strong>Our Purpose</strong></h2>
    <p style="font-size: 20px;">
        Our purpose at Grizzly Games is to create a friendly environment where developers can gather to share information and collaborate on projects while interacting with a loyal engaging community of video game enthusiasts in a meaningful open dialect.
    </p>
    <hr />
    <h2><strong>How did it start?</strong></h2>
    <p style="font-size: 20px;">
        After completing his first year at George Brown college in the summer of 2015 Kyle Conibear asked his fellow classmates to work on a project which became Marionette Melee. All of them had worked on school assignments but this would be their first time completing a game in its entirety. As the game neared completion a few things became evident.
        <br />
        <br />
        There was the concern if someone were to leave the group and take their contribution with them it would prevent or seriously delay the completion of the project. There were also more logistical problems as far as someone had to own the final product so they would have the legal rights to release it. Someone had to endure the costs associated with releasing the product. The product needs a name of the developer(s) who created it and the individuals who worked on the projected needed a contract with the owner of the product to be entitled to revenue earned from their work.
        <br />
        <br />
        The solution to these concerns gave birth to Grizzly Games. Grizzly Games became the melting pot where everyone could contribute their work to a single entity which would incur the expenses, retain the rights to the intellectual property created and enter into contracts  which would legally entitle a person to a percentage of the revenue earned from the projects they contribute to. This arrangement created a safe, friendly environment to work in while ensuring the longevity of the work created for if a person decided to leave their contributions would live on through Grizzly Games.
    </p>
</body>

