<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        About - Grizzly Games
    </title>
</head>

<body class="col-md-12">
    <h1>About Us</h1>
    <hr />
    <h2><strong>What are you?</strong></h2>
    <p style="font-size: 20px;">
        Grizzly Games is a start-up indie games development studio based out of Toronto, Canada. As of today, Grizzly Games has developed two mobile games, Marionette Melee and Migrating Martians. Grizzly Games also broadcasts live streams on www.twitch.tv/Grizzly_GamesTV where hosts playthrough their favourite games while interacting with audience members. Grizzly also creates Youtube videos of game playthroughs and game development tutorials. Grizzly’s current game development is a Horror game for the PC which will be released on Steam.
    </p>
    <hr />
    <h2><strong>How did it start?</strong></h2>
    <p style="font-size: 20px;">
        After completing my first year at George Brown in the summer of 2015 I messaged all of my fellow classmates, about 200 in total and asked them if they would be interested in making a game together. Roughly 20 of them agreed to work on a project which became Marionette Melee. All of us had worked on school assignments but this would be our first time starting and finishing a game beginning to end. As the summer progressed about half of the original teams became disinterested or had to leave the project due to other obligations but the remaining team members worked tirelessly to create their first commercial game. As the game neared completion a few things became evident. The first being there are costs associated with releasing a video game as you need to pay fees to the different distributors. The second being we needed a name for ourselves to release the game under. In addition, each team member committed hundreds of hours to the project so we need a fair  and legally binding way to distribute proceeds generated. This gave birth to Grizzly Games. Grizzly Games was created for the purpose of being a legal entity which could release digital content created by a group of individuals and grant them legal entitlements to proceeds earned by their work in conjunction with the fellow individuals who worked with them. This created a safe, friendly environment to work in while creating longevity for the work created for when individuals leave to pursue other interests Grizzly would live on and their work would live on through Grizzly.
    </p>
</body>

