<body class="col-md-12">
        <h1><strong>Videos</strong></h1>
        <hr />
        <div class="col-md-3">
            <h2><strong><br />Overwatch</strong></h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLT7_p2S27TFYcoTU06e3HjoFvUiG2M2FM" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3><a href="http://www.grizzlygames.co/video/overwatch" style="color:white;">View playlist</a></h3>
        </div>
        <div class="col-md-3">
            <h2><strong><br />COD MW</strong></h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLT7_p2S27TFZZHj5P6V1bifZ1TKTMTSIp" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3><a href="http://www.grizzlygames.co/video/CallofDutyModernWarfare" style="color:white;">View playlist</a></h3>
        </div>
        <div class="col-md-3">
            <h2><strong><br />CS:GO</strong></h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLT7_p2S27TFbLFhrE9MC99hlvQRbbuVGk" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3><a href="http://www.grizzlygames.co/Video/CSGO" style="color:white;">View playlist</a></h3>
        </div>
        <div class="col-md-3">
            <h2><strong>Rise of the Tomb Raider</strong></h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLT7_p2S27TFYcQv6t8zCj2IZnQRoxRUAr" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3><a href="http://www.grizzlygames.co/Video/RiseoftheTombRaider" style="color:white;">View playlist</a></h3>
        </div>
</body>